<div class="comment">
  <div class="comment-title">
    <span class="commenter"><%= comment.commenter %></span> <%= comment.created_at %>
  </div>
  <div class="comment-body">
    <%= comment.body %>
  </div>
</div>
