<% stylesheet_link_tag "index-styles.css" %>

<div class="index-container">
  <h3>Recent Posts<h3>

  <div class="cards">
    <% @articles.reverse_each do |article| %>
      <div class="card">
        <div class="card-title">
          <%= link_to article.title, article %>
        </div>
        <div class="card-content">
          <%= truncate(article.body, length: 150) %>
        </div>
        <div class="read-more">
          <%= link_to "Read more", article %>
        </div>
      </div>
    <% end %>
  </div>
</div>

